<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/data/jpa https://www.springframework.org/schema/data/jpa/spring-jpa.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

<!--    l'emplacement de fichier application.properties -->
    <context:property-placeholder location="classpath:application.properties" />

<!--    dataSource pour definier les infos de la DB -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="url" value="${spring.datasource.url}" />
        <property name="driverClassName" value="${spring.datasource.driverClassName}" />
        <property name="username" value="${spring.datasource.username}" />
        <property name="password" value="${spring.datasource.password}" />
    </bean>

<!--    EntityManagerFactory pour gérer la persistance des entités -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="persistenceUnitName" value="yourPersistenceUnit" />
        <property name="packagesToScan" value="com.example.workforces.domain" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="databasePlatform" value="${spring.jpa.properties.hibernate.dialect}" />
            </bean>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>


    <context:component-scan base-package="com.example.workforces.repository"/>

    <jpa:repositories base-package="com.example.workforces.repository"/>

    <bean id="employe" class="com.example.workforces.domain.Employe"/>

    <bean id="employeController" class="com.example.workforces.controller.EmployeController">
        <constructor-arg index="0" ref="employeService"/>
    </bean>

    <bean id="employeService" class="com.example.workforces.service.EmployeService">
        <constructor-arg index="0" ref="employeRepository" />
    </bean>


</beans>